.btnCancel {
  border: 1px solid #3e4551;
  padding: 5px 50px;
  border-radius: 5px;
  color: #3e4551;
  text-align: center;
  background-color: #fff;
  margin-right: 10px;
}
.btnUpload {
  border: 1px solid #3e4551;
  padding: 5px 50px;
  border-radius: 5px;
  text-align: center;
  color: #aeadd5;
  background-color: #e8e5f9;
}
