@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f0f0f0;
}

.gray-color {
  color: #cfcfd4;
}

.border-gray {
  border: 1px solid #cfcfd4;
}

.input-padding {
  padding: 10px;
}

.input-radius {
  border-radius: 5px;
}
.color-dark-blue {
  color: #101723;
}
.light-purple-bg {
  background-color: #f9f5fd;
}

.container {
  display: flex;
  height: 100vh;
}

.navbar {
  width: 104px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: #1b093c;
  color: white;
}

.logo {
  width: 50px;
  margin-bottom: 20px;
}

.menu {
  margin-top: 20px; /* Separation between logo and menu */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; /* Pushes the bottom menu to the bottom */
  margin-bottom: 20px; /* Margin at the bottom */
}

.icon {
  width: 30px;
  margin: 10px 0;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  min-height: 100vh;
  background-image: url("/bgAura.png");
  background-repeat: no-repeat;
  background-size: 100% 45%;
  background-position: top center;
}
.simpleMain {
  flex: 1;
}

.listResultContainer {
  padding: 10px;
  width: calc(100% - 20px);
  border: 1px solid #a2a3a8;
  border-radius: 5px;
  background-color: white;
  z-index: 99;
  height: 20vh;
  overflow-y: scroll;
}

.companyDropdown:hover {
  background-color: #f9f5fd;
}

.purple-color {
  color: #6869ac;
}

.messages-container {
  height: 79vh;
  overflow-y: scroll;
}
